// Fix origin ui style
#editor {
  .ce-block__content {
    max-width: 100%;
  }
  .ce-toolbar__content {
    max-width: 100%;
  }
}

// Own style
#editor {
  .ce-header {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
  .ce-header[contentEditable=true][data-placeholder]::before {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .cdx-checklist__item-text {
    line-height: 22px;
  }
  .tc-table__cell {
    border-color: rgba($color: #999, $alpha: 0.6);
  }
  .tc-table__wrap {
    border-color: rgba($color: #999, $alpha: 0.6);
  }
}