#index {
  .header-banner {
    height: 20.83333vw;
    position: relative;
    overflow: hidden;
    margin: auto;

    .swiper-slide {
      height: 20.83333vw;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .swiper-pagination-bullet-active {
      background: #03BEBF;
    }
  }
  .pads {
    .content {
      background: #3E3E58;
      color: #fff;
    }
    .r1 {
      text-align: center;
      padding: 16px 0;
      display: none;

      .t1 {
        font-size: 38px;
        font-weight: 500;
      }
    }
    .r2 {
      background: #fff;
      display: flex;

      .pad-banner,
      .nine-palaces {
        width: 50%;
      }

      .nine-palaces {
        position: relative;
        padding-left: 60px;
      }
      .nine-palaces::before {
        content: attr(data-title);
        background: #3E3E58;
        color: #fff;
        font-size: 24px;
        letter-spacing: 7px;
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-align: center;
        line-height: 60px;
      }

      .pad-banner {
        position: relative;
        overflow: hidden;

        .swiper-pagination {
          text-align: right;
          padding-right: 30px;
        }

        .swiper-pagination-bullet,
        .swiper-pagination-bullet-active {
          background: #fff;
        }

        .swiper-slide {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative;

          span {
            z-index: 10;
            position: absolute;
            white-space: nowrap;
            font-size: 32px;
            font-weight: 500;
            bottom: 20px;
            left: 20px;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 170px;
            background: linear-gradient(to top, rgba($color: #000, $alpha: 1) 0%, rgba($color: #000, $alpha: 0) 100%);
          }
        }
      }

      .nine-palaces .row {
        display: flex;
        border-bottom: rgba($color: #000000, $alpha: 0.3) solid 1px;
        border-right: rgba($color: #000000, $alpha: 0.3) solid 1px;

        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          width: 33.3333%;
          height: 154px;
          position: relative;
          border-right: rgba($color: #000000, $alpha: 0.3) solid 1px;

          &:last-child {
            border-right: none;
          }

          img {
            max-width: 60%;
            max-height: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            white-space: nowrap;
          }
        }
      }
    }
    .r3 {
      display: flex;
      padding: 30px 100px;

      .b1 {
        flex-grow: 1;
        flex-shrink: 1;

        img {
          margin-top: 20px;
          height: 154px;
          margin-bottom: 24px;
        }

        button {
          height: 52px;
          width: 222px;
        }
      }
      .b2 {
        flex-grow: 0;
        flex-shrink: 0;

        img {
          width: 403px;
        }
      }
    }
  }

  .live {
    margin-bottom: 90px;

    .title {
      color: #fff;
      padding-top: 45px;
      background-image: url(https://assets.zjzsxhy.com/upload/82127cdb-1cc8-434f-a284-bf9d353a78c2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top center;
      height: 488px;
      text-align: center;

      .t1 {
        font-size: 38px;
        font-weight: 600;
        color: #278ACC;
        margin-bottom: 40px;
      }
      .t2 {
        font-size: 38px;
        font-weight: 600;
        color: #A7A9AC;
      }
    }
    .content {
      margin-top: -283px;
      background: #fff;
      display: flex;

      .b1 {
        width: 60%;
        overflow: hidden;
        height: 405px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .b2 {
        width: 40%;

        .row {
          display: flex;
          border-bottom: rgba($color: #000000, $alpha: 0.3) solid 1px;
          border-right: rgba($color: #000000, $alpha: 0.3) solid 1px;
  
          &:first-child {
            border-top: rgba($color: #000000, $alpha: 0.3) solid 1px;
          }
  
          a {
            flex-grow: 0;
            flex-shrink: 0;
            display: block;
            width: 33.3333%;
            height: 100px;
            position: relative;
            border-right: rgba($color: #000000, $alpha: 0.3) solid 1px;

            &:last-child {
              border-right: none;
            }

            img {
              max-width: 60%;
              max-height: 60%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .events {
    margin-bottom: 80px;

    .content {
      position: relative;
      height: 417px;
      overflow: hidden;
      display: flex;

      .left,
      .right {
        width: 50%;
      }
    }

    .left {
      position: relative;
      overflow: hidden;

      .b1 {
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      position: relative;
    }

    .event-title-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      img {
        height: 210px;
      }
    }

    .b2 {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 0 0 5px 40px;

      .t1 {
        color: #000E48;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 108px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .more {
        text-align: right;
      }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #03BEBF;
    }
    .swiper-pagination-bullet {
      background: #fff;
    }
  }

  .live-ads {
    margin-bottom: 80px;

    .swiper-pagination {
      text-align: right;
      padding-right: 30px;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
      background: #fff;
    }

    .content {
      position: relative;
      height: 507px;
      overflow: hidden;
      color: #fff;

      .swiper-slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        span {
          z-index: 10;
          position: absolute;
          white-space: nowrap;
          font-size: 32px;
          font-weight: 500;
          bottom: 20px;
          left: 20px;
          max-width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 170px;
          background: linear-gradient(to top, rgba($color: #000, $alpha: 1) 0%, rgba($color: #000, $alpha: 0) 100%);
        }
      }
    }
  }

  .publish {
    margin-bottom: 80px;

    .title {
      color: #000E48;
      text-align: center;
      margin-bottom: 40px;

      .t1 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    .content {
      display: flex;

      .t1 {
        color: #000E48;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .desc {
        font-size: 16px;
        color: #67687C;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        height: 125px;
        margin-bottom: 50px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .time {
          color: #6E7379;
        }
      }

      .b1 {
        flex-grow: 0;
        flex-shrink: 0;
        width: 511px;
        margin-right: 50px;
        position: relative;

        .cover {
          height: 577px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        .t1 {
          font-size: 28px;
          font-weight: 600;
          margin-top: 24px;
          margin-bottom: 16px;
          line-height: 1.5;
          height: 84px;
          
        }
      }

      .b2 {
        flex-grow: 1;
        flex-shrink: 1;

        .row {
          display: flex;
          margin-bottom: 58px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .cover {
          flex-grow: 0;
          flex-shrink: 0;
          height: 260px;
          width: 304px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin-right: 26px;
        }

        .text {
          flex-grow: 1;
          flex-shrink: 1;
          position: relative;
        }

        .t1 {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 12px;
          line-height: 1.6;
          height: 70px;
        }
      }
    }
  }

  .friends {
    text-align: center;
    color: #000E48;
    margin-bottom: 40px;

    .t1 {
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .t2 {
      margin-bottom: 40px;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      &>a {
        display: block;
        height: 125px;
        border: #D1D3D4 solid 1px;
        position: relative;

        img {
          max-width: 80%;
          max-height: 80%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

[data-locale="en"] #index .pads .r2 .nine-palaces::before {
  text-orientation: mixed;
}

@import './style.m.scss';
