<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="companyList">
  <div class="header-banner">
    <!-- TODO: 大Banner，图片 -->
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="container padding list">
    <!-- TODO: 分类信息，链接 -->
    <div class="tabs">
      <a href="#" class="active">全部</a>
      <a href="#">分类1</a>
      <a href="#">分类2</a>
      <a href="#">分类3</a>
    </div>
    <!-- TODO: 本分类下公司列表 -->
    <div class="content">
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
    </div>
    <div class="more">
      <!-- TODO: 点击获取更多 -->
      <button>查看更多</button>
    </div>
  </div>
  <div class="intro container padding">
    <h1>设计展示</h1>
    <!-- <h2>PDC为设计师和生产企业搭建一个“面对面”“点对点”的设计对接服务平台</h2> -->
    <p>PDC在广交会展馆内人流最密集的珠江散步道上设立设计展位，向广交会优秀生产企业和国际买家近距离展示设计师的设计概念、创意和产品，促进设计供需双方现场洽谈、高效合作。</p>
    <p class="img-p"><img style="width: 100%;max-width: 800px;max-height: 800px;" src="https://assets.zjzsxhy.com/upload/bcf98ae7-0f0a-4f7c-a4a9-a245c21f8c2e.jpg" alt=""></p>
    <p><strong>广交会参展时间及行业类别</strong></p>
    <ol>
      <li>
        <div>第一期</div>
        <div>4月15-19日/10月15-19日</div>
        <div>电子产品，家用电器，卫浴设备，建材，照明产品，机械，车辆及配件等</div>
      </li>
      <li>
        <div>第二期</div>
        <div>4月23-27日/10月23-27日</div>
        <div>日用消费品，礼品，家居装饰品，家具，玩具，陶瓷，个人护理用具，钟表眼镜等</div>
      </li>
      <li>
        <div>第三期</div>
        <div>5月1-5日/10月31日-11月4日</div>
        <div>纺织服装，鞋，办公用品，箱包，医疗器械，医药及医疗保健，食品等</div>
      </li>
    </ol>
    <p class="img-p"><img style="width: 100%;max-width: 800px;max-height: 800px;" src="https://assets.zjzsxhy.com/upload/0608efe8-27ad-43d4-8a87-842ad49de231.jpg" alt=""></p>
    <p><strong>PDC设计展示参展主体</strong></p>
    <p>与以上产品领域相关的产品设计、品牌战略、包装设计、时尚设计和潮流资讯公司/机构。</p>
    <p>截至2020年5月，已累计有来自美国、澳大利亚、英国、法国、德国、希腊、荷兰、意大利、印度、日本、韩国、葡萄牙、俄罗斯、土耳其、新加坡、西班牙、瑞典、丹麦、阿联酋及香港、台湾和中国大陆等22个国家和地区的设计公司/机构1463次参加PDC设计展示，展示面积累计21483平方米。</p>
    <p>截至2020年5月，设计公司在展位上洽谈的意向客户约235383个，潜在签约（部分已签约）项目约77402个。</p>
  </div>
  <div class="intro container padding">
    <h1>DESIGN SHOW</h1>
    <!-- <h2>PDC为设计师和生产企业搭建一个“面对面”“点对点”的设计对接服务平台</h2> -->
    <p>During Canton Fair , PDC holds design show at the Pearl Promenade, the only main corridor connecting area A, B and C inside the Canton Fair complex, for design companies to show their concepts, innovation and products directly to Chinese enterprises and global buyers.</p>
    <p class="img-p"><img style="width: 100%;max-width: 800px;max-height: 800px;" src="https://assets.zjzsxhy.com/upload/bcf98ae7-0f0a-4f7c-a4a9-a245c21f8c2e.jpg" alt=""></p>
    <p><strong>Canton Fair Product Categories</strong></p>
    <ol>
      <li>
        <div>Phase I</div>
        <div>April 15th-19th / Oct 15th-19th</div>
        <div>Electronic products, Household Electrical Appliances, Sanitary and Bathroom Equipment, Building Materials and Lighting Equipment, Machinery, Vehicle and Spare Parts.</div>
      </li>
      <li>
        <div>Phase II</div>
        <div>April 23rd-27th / Oct 23rd-27th</div>
        <div>Consumer goods, Gifts and Premiums, Home Decorations, Furniture, Toys, Ceramics, Clocks, Watches & Optical Instruments, Personal Care Products.</div>
      </li>
      <li>
        <div>Phase III</div>
        <div>May 1st-5th / Oct 31st-Nov 4th</div>
        <div>Textiles & Garments, Shoes, Stationary & Office Supplies, Cases and Bags, Medicines, Medical Devices and Health Products, Food.</div>
      </li>
    </ol>
    <p class="img-p"><img style="width: 100%;max-width: 800px;max-height: 800px;" src="https://assets.zjzsxhy.com/upload/0608efe8-27ad-43d4-8a87-842ad49de231.jpg" alt=""></p>
    <p><strong>Design Show Exhibitors</strong></p>
    <p>Design companies/organizations of Product design, Packaging design, Fashion Design, Branding & Marketing, and Trend Forecasting, in which related to the Canton Fair product categories.</p>
  </div>
</body>
</html>