<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="companyList">
  <div class="header-banner">
    <!-- TODO: 大Banner，图片 -->
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="container padding list">
    <!-- TODO: 分类信息，链接 -->
    <div class="tabs">
      <a href="#" class="active">全部</a>
      <a href="#">分类1</a>
      <a href="#">分类2</a>
      <a href="#">分类3</a>
    </div>
    <!-- TODO: 本分类下公司列表 -->
    <div class="content">
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
      <div class="company">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
        <div class="name">公司名</div>
      </div>
    </div>
    <div class="more">
      <!-- TODO: 点击获取更多 -->
      <button>查看更多</button>
    </div>
  </div>
  <div class="intro container padding">
    <h1>PDC图文介绍</h1>
    <h2>PDC为设计师和生产企业搭建一个“面对面”“点对点”的设计对接服务平台</h2>
    <p>中国进出口商品交易会又称广交会，创办于1957年春季，每年春秋两季在广州举办，是中国目前历史最久、层次最高、规模最大、商品种类最全、到会客商最多且国别地区分布最广、成交效果最好、信誉最佳的综合性国际贸易盛会。</p>
    <p class="img-p"><img src="https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg" alt=""></p>
  </div>
</body>
</html>