// Own style
#newsDetail {
  .ce-header {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
  .ce-header[contentEditable=true][data-placeholder]::before {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .cdx-checklist__item-text {
    line-height: 22px;
  }
  .tc-table__cell {
    border-color: rgba($color: #999, $alpha: 0.6);
  }
  .tc-table__wrap {
    border-color: rgba($color: #999, $alpha: 0.6);
  }
  .tc-table-renderer {
    padding: 10px 0;
  }
}

#newsDetail {
  background: #f4f5f8;

  .content {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
  }

  .article {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px 40px;
    background: #fff;

    .time {
      text-align: center;
      opacity: 0.5;
      margin-bottom: 40px;
    }
  }

  .ad {
    flex-grow: 0;
    flex-shrink: 0;
    width: 280px;
    margin-left: 20px;

    img {
      width: 100%;
    }
  }
}

#newsDetail {
  h1,
  h2,
  h3 {
    text-align: center;
    font-weight: 500;
  }

  h1.ce-header {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  h2.ce-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h3.ce-header {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .ce-header-with-sub {
    .t1 {
      margin-bottom: 10px;
    }
    .t2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .ce-album {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 40px;

    &[data-cols="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    &[data-cols="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[data-cols="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    &[data-cols="5"] {
      grid-template-columns: repeat(5, 1fr);
    }
    &[data-cols="6"] {
      grid-template-columns: repeat(6, 1fr);
    }

    a {
      display: block;
      height: 200px;
      border-radius: 8px;
      overflow: hidden;
      text-decoration: none;

      .img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.size-contain {
      a {
        .img {
          background-size: contain;
        }
      }
    }

    &.with-title a {
      height: auto;
      border-radius: 0;
      color: inherit;

      .img {
        height: 230px;
        margin-bottom: 20px;
      }
      .title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
        text-align: center;
      }
      .desc {
        text-align: center;
        color: #585A5C;
      }
    }
  }

  .ce-quote-container {
    padding: .4em 0;
    line-height: 1.6em;
    padding-left: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: rgba($color: #999, $alpha: 0.6);
    }

    .ce-quote-content {
      opacity: 0.6;
      outline: none;
    }
  }

  .ce-config-container {
    .ce-hidden-content {
      margin-top: 20px;
    }
  }

  .image-tool__image-picture {
    margin: auto;
  }
  .image-tool__caption {
    text-align: center;
    font-size: 12px;

    &[contentEditable="true"][data-placeholder]:empty::before {
      margin: auto;
      width: 100%;
    }
  }
  .image-tool__image {
    margin-bottom: 0;
  }
  .image-tool__caption {
    box-shadow: none;
    border: none;
    opacity: 0.6;

    &:empty {
      display: none;
    }
  }
  .ce-video {
    margin: 20px 0;

    iframe {
      height: 480px;
      width: 640px;
      margin: auto;
      display: block;
      max-width: 100%;
    }
  }

  .ce-attachment {
    max-width: 300px;
    height: 75px;
    margin: 20px auto;
    border: 1px solid #ececed;
    background: rgba($color: #888, $alpha: 0.1);
    border-radius: 4px;

    display: flex;
    align-items: center;
    padding: 0 14px;

    svg {
      height: 24px;
      width: 24px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &>div {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 14px;
    }

    .icon {
      opacity: 0.5;
      height: 36px;
      width: 36px;
    }

    .download-btn {
      cursor: pointer;
    }

    .filename {
      margin-bottom: 6px;
    }
  }
}

@import './style.m.scss';
