<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="week">
  <!-- TODO: 广告，图片 -->
  <div class="ad" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg)"></div>
  <div class="events container padding">
    <div class="live" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);">
      <div class="play-btn">
        <div>
          <div class="i"><img src="https://assets.zjzsxhy.com/upload/69bfc70d-e0d0-4b75-bc9a-03c5081e0334.svg" alt=""></div>
          <div class="t">点击进入直播间</div>
        </div>
      </div>
    </div>
    <div class="list">
      <!-- TODO: 活动数据，时间，名称，记住这里span不能换行 -->
      <div>
        <span class="time">2019-01-01 20:20</span><span class="name">活动名称</span>
      </div>
    </div>
  </div>
  <div class="brands container padding">
    <div class="page-subtitle"><span>走秀企业/品牌</span></div>
    <div class="content">
      <a class="brand">
        <div class="i" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);"></div>
        <div class="t">中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生学附属第一医院的医生附属第一医院的医生</div>
      </a>
    </div>
  </div>
  <div class="news container padding">
    <div class="page-subtitle"><span>活动新闻</span></div>
    <!-- TODO: 内容 -->
    <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
    <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
    <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
  </div>
</body>
</html>