<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="week">
  <!-- TODO: 广告，图片 -->
  <div class="header-banner">
    <!-- TODO: 大Banner，图片 -->
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="events container padding">
    <div class="live" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);">
      <div class="play-btn">
        <div>
          <div class="i"><img src="https://assets.zjzsxhy.com/upload/69bfc70d-e0d0-4b75-bc9a-03c5081e0334.svg" alt=""></div>
          <div class="t">点击进入直播间</div>
        </div>
      </div>
    </div>
    <div class="list">
      <!-- TODO: 活动数据，时间，名称 -->
      <div class="node">
        <div class="time">2020年6月20日10:00-10:30</div>
        <div class="title"><a href="#">2020广交会时尚周（春季）开幕式</a></div>
        <div class="tags"><span>艺术与时尚</span><span>男女装</span></div>
      </div>
      <div class="node">
        <div class="time">2020年6月20日11:30-12:00</div>
        <div class="title"><a href="#">纤变万花</a></div>
        <div class="tags"><span>休闲女装</span><span>童装</span></div>
        <div class="desc">走秀企业：广州纺织工贸企业集团有限公司</div>
      </div>
      <div class="node">
        <div class="time">2020年6月21日15:00-16:00</div>
        <div class="title"><a href="#">2020广交会时尚周（春季）“品质浙货”浙江出口名牌企业精品走秀</a></div>
        <div class="tags"><span>运动服</span><span>女装</span><span>女包</span><span>伞</span></div>
        <div class="desc">走秀企业：湖州新世纪国际贸易有限公司、汇信进出口集团股份有限公司、义乌奕君箱包有限公司、浙江迪亚服饰有限公司、浙江省土产畜产进出口集团有限公司、浙江腾鑫伞业有限公司</div>
      </div>
      <div class="node">
        <div class="time">2020年6月22日11:30-12:00</div>
        <div class="title"><a href="#">混搭，休闲，舒适</a></div>
        <div class="tags"><span>休闲女装</span></div>
        <div class="desc">走秀企业：小渔仔</div>
      </div>
    </div>
  </div>
  <div class="brands container padding">
    <div class="page-subtitle"><span>走秀企业/品牌</span></div>
    <div class="content">
      <a class="brand">
        <div class="i" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);"></div>
        <div class="t">中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生学附属第一医院的医生附属第一医院的医生</div>
      </a>
    </div>
  </div>
  <div class="news container padding">
    <div class="page-subtitle"><span>广交会时尚周</span></div>
    <ol>
      <li>为服饰、箱包、鞋帽、珠宝等时尚类企业和采购商打造的全新展示模式</li>
      <li>动、静展示相结合</li>
      <li>展示品牌产品及设计师与生产企业合作完成的原创产品</li>
      <li>通过设计提高产品附加值，促进行业交流与发展，促成订单成交</li>
    </ol>
    <p><strong>时间：</strong>广交会第三期（5月1-5日 / 10月31日-11月4日）</p>
    <p><strong>秀场：</strong></p>
    <ol>
      <li>广交会展馆A区7.1号馆（广交会时尚周主秀场）</li>
      <li>广交会威斯汀酒店</li>
      <li>广交会展馆A区PDC设计廊</li>
    </ol>
    <p><strong>对象：</strong>服饰、箱包、鞋帽、珠宝等品牌企业、设计师和采购商</p>

    <div class="page-subtitle"><span>时尚周亮点</span></div>
    <p>走秀位置最优越：广交会时尚周秀场位于广交会展馆客流量最大、最密集区域，是展客商必经之处。</p>
    <p>采购商云集：广交会第三期汇聚了来自全球40000名服装、鞋帽、箱包等行业的境外采购商。动态走秀展示更能吸引采购商目光，大幅增加订单成交机会!</p>
    <p>主流媒体宣传：作为广交会的亮点，时尚周活动将得到来自逾200家主流媒体的关注，如央视、人民日报、新浪、腾讯等，是宣传企业品牌、提升企业形象的绝佳途径！</p>
    <p>动静立体展现：除了动态走秀，还配有静态展示区域，全方位地展示走秀产品。</p>
    <p>设计服务：PDC联合知名设计师为参与时尚周的企业/品牌提供设计服务，助力转型升级。</p>
    <p>主打原创设计：时尚周主打原创设计，更能吸引注重设计、创意的高端客商。</p>

    <div class="page-subtitle"><span>宣传计划</span></div>
    <p><strong>活动前</strong></p>
    <ul>
      <li>通过PDC微信、网站、合作媒体等宣传途径，广泛宣传活动及品牌，为活动预热造势，吸引目标人群关注；</li>
      <li>联合广交会国际联络部、广交会威斯汀酒店、专业服装交易市场，向采购商精准宣传活动。</li>
    </ul>
    <p><strong>活动中</strong></p>
    <ul>
      <li>运用当下最时尚的手机直播方式，结合馆内主通道的电视屏幕，实时直播走秀画面，吸引更多潜在客户关注；</li>
      <li>在采购商报到处及主通道入口派发活动宣传单张；</li>
      <li>活动结束当天及时推送相关报道。</li>
    </ul>
    <p><strong>活动后</strong></p>
    <ul>
      <li>对走秀品牌与采购商的对接采购成果进行后续报道。</li>
    </ul>

    <div class="page-subtitle"><span>采购商邀请措施</span></div>
    <ul>
      <li>联合广交会国际联络部，向来自逾200个国家和地区的国际采购商精准发送观秀邀请函。</li>
      <li>联合广交会威斯汀酒店，向高端住店采购商提供观秀邀请函。</li>
      <li>邀请国内专业买手及经销商等前来观秀。</li>
      <li>开秀前，专人专版邀请函，邀请广交会国际采购商。</li>
    </ul>
    <p><strong>数据一览（截至第126届广交会）</strong></p>
    <ul>
      <li>走秀品牌：264</li>
      <li>优秀服装设计师：185</li>
      <li>今日头条：293万</li>
      <li>精彩走秀：129</li>
      <li>参与采购商：38000+</li>
      <li>直播：1541.4万</li>
    </ul>
    <p><strong>PDC提供</strong></p>
    <ul>
      <li>LED全屏舞台</li>
      <li>展示流程策划执行</li>
      <li>专业走秀模特和导演</li>
      <li>双语主持人</li>
      <li>宣传画册</li>
      <li>活动直播</li>
    </ul>
  </div>












  <div class="news container padding">
    <div class="page-subtitle"><span>CANTON FAIR FASHION WEEK</span></div>
    <ol>
      <li>A whole new promotion and trading, platform for the clothes, bags, shoes and jewelry manufacturers and buyers.</li>
      <li>Combination of dynamic and static show together.</li>
      <li>Gathers the best talents and latest fashion resources all around the world and present them directly to buyers.</li>
      <li>Promoting the communication and cooperation in the industries.</li>
    </ol>
    <p><strong>Time: </strong>Phase 3 of Canton Fair (May 1st-5th/Oct. 31st -Nov. 4th)</p>
    <p><strong>Venue: </strong></p>
    <ol>
      <li>Hall 7.1 of Canton Fair Complex</li>
      <li>The Westin Pazhou</li>
      <li>PDC Design Gallery, Area A of Canton Fair Complex</li>
    </ol>
    <p><strong>Participants: </strong>Designers, Brands, and Buyers for apparels, bags & suitcases, footwear, jewelry, etc.</p>

    <div class="page-subtitle"><span>HIGHLIGHTS OF CANTON FAIR FASHION WEEK</span></div>
    <p>Excellent Show Location——The venue of Canton Fair Fashion Week is located on the only corridor that all the buyers and exhibitors move into different halls. </p>
    <p>A gathering of Global buyers——During phase 3 of Canton Fair, there are more than 40,000 oversea buyers from industries of costume, shoes, cases and bags.</p>
    <p>Mainstream Media——As the highlight of Canton Fair, the show will be reported by more than 200 mainstream medias including CCTV, Sina, Tecent, People’s Daily, Guangdong TV, etc. </p>
    <p>Dynamic + Static Display——A combination of static booths with dynamic shows for product display.</p>
    <p>Design Service——PDC cooperates with famous designers to provide design services for manufacturers and promote industry transformation and upgrade.</p>
    <p>Theme: Original Design——Canton Fair Fashion Week mainly shows original design and focuses on high-end merchants who values design and innovation.</p>

    <div class="page-subtitle"><span>Promotion</span></div>
    <p><strong>Preparations</strong></p>
    <ul>
      <li>Maximum brand exposure will be guaranteed by PDC wechat, website and partners media.</li>
      <li>Cooperation with International Communication Department of Canton Fair, the Westin Pazhou and clothing trading markets to held promotion campaigns among buyers.</li>
    </ul>
    <p><strong>During the fair</strong></p>
    <ul>
      <li>Simultaneous broadcast by mobile live-streaming on LED screen in the Canton Fair Complex.</li>
      <li>Flyers distribution at the Buyers Registration and main entrance of Canton Fair Complex.</li>
      <li>Immediate reports right after the show.</li>
    </ul>
    <p><strong>Follow-ups</strong></p>
    <ul>
      <li>Follow-up reports on successful business matching.</li>
    </ul>

    <div class="page-subtitle"><span>Buyers Invitation</span></div>
    <ul>
      <li>Various effective approaches applied by International Communication Department.</li>
      <li>Premium guests invitation by the Westin Pazhou</li>
      <li>Invitations befor the show begin in Canton Fair Complex.</li>
    </ul>

    <p><strong>Data List (up to 126th Canton Fair)</strong></p>
    <ul>
      <li>Fashion Brands：264</li>
      <li>Fashion Designers：185</li>
      <li>toutiao.com：2,930,000+</li>
      <li>Runway Shows：129  </li>
      <li>Buyers：38000+ </li>
      <li>Live Video：15,414,000+</li>
    </ul>
    <p><strong>PDC provides</strong></p>
    <ul>
      <li>Full Screen LED Stage</li>
      <li>Planning and Executions</li>
      <li>Preofessional Models & Directors</li>
      <li>Bilingual Hosts</li>
      <li>Promotion Brochures </li>
      <li>Live Video</li>
    </ul>
  </div>
</body>
</html>