<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
  <script>
    window.PAGE_DATA = {
      time: 1589770998513,
      blocks: [
        {
          type: 'paragraph',
          data: {
            text: '214124',
          },
        },
      ],
      version: '2.18.0',
    }
  </script>
</head>
<body id="newsDetail">
  <div class="content container padding">
    <div class="article">
      <!-- TODO: 文章标题 -->
      <h1>标题</h1>
      <div class="time">2019-01-01 11:11</div>
      <div id="holder"></div>
    </div>
    <!-- TODO: 广告，如果有的话 -->
    <div class="ad">
      <img src="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg" alt="">
    </div>
  </div>
  <div id="hiddenHolder" style="display: none;"></div>
</body>
</html>