footer.main-footer {
  background: #242423;
  color: #fff;
  padding-top: 66px;
  padding-bottom: 42px;

  &>.container:first-child {
    display: flex;
    align-items: center;
  }

  .footer-b1 {
    flex-grow: 1;
    flex-shrink: 1;

    .cgb {
      display: flex;
      line-height: 1;
      margin-bottom: 65px;

      img {
        height: 52px;
        width: 52px;
        display: block;
        margin-right: 13px;
      }

      .t1 {
        font-size: 20px;
        font-weight: 600;
        padding-top: 3px;
        margin-bottom: 14px;
      }
      .t2 {
        font-size: 12px;
      }
    }
    .t3,
    .t4 {
      line-height: 1.5;
      font-weight: 500;
    }
    .t3 {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  .footer-b2 {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 80px;

    .qrcode img {
      width: 140px;
      height: 140px;
    }
    .t1 {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin-top: 11px;
    }
  }

  .footer-b3 {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;

    .row {
      display: flex;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      vertical-align: middle;
    }

    .icon {
      flex-grow: 0;
      flex-shrink: 0;
      display: inline-block;
      width: 24px;
      height: 22px;
      text-align: center;
      margin-right: 14px;

      img {
        height: 22px;
      }
    }
  }

  .copyright {
    text-align: center;
    opacity: 0.5;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 40px;
  }
}

@import './style.m.scss';
