@media screen and (max-width: 600px) {
  footer.main-footer {
    padding-top: 40px;
    padding-bottom: 35px;

    &>.container:first-child {
      display: block;
      padding: 0 70px;
    }

    .footer-b1 {
      .cgb {
        margin-bottom: 40px;
      }

      .t3, .t4 {
        display: none;
      }
    }

    .footer-b2 {
      display: none;
    }

    .footer-b3 .row {
      display: flex;

      .icon {
        flex-grow: 0;
        flex-shrink: 0;
        display: block;
      }

      span {
        line-height: 1.5;
      }
    }

    .copyright {
      display: none;
    }
  }
}
