<header class="main-header">
  <div class="container">
    <div class="b1">
      <a href="#"><button class="login-btn">登 录</button></a>
      <a href="#"><button class="lang-btn">EN</button></a>
    </div>
    <div class="b2">
      <img src="https://assets.zjzsxhy.com/upload/668dbf82-d544-4239-b350-4dc4dea141de.svg" alt="PDC" class="logo">
      <div class="menu">
        <a href="#"><button class="active">首 页</button></a>
        <a href="#"><button>设计展示</button></a>
        <a href="#"><button>广交会时尚周</button></a>
        <a href="#"><button>设计活动</button></a>
        <a href="#"><button>直播</button></a>
        <a href="#"><button>发布中心</button></a>
        <a href="#"><button>金融服务专区</button></a>
        <a href="#"><button>关于PDC</button></a>
      </div>
      <input type="text" class="header-search">
    </div>
  </div>
</header>