#week {
  .page-subtitle {
    margin-top: 40px;
  }
  .header-banner {
    height: 300px;
    position: relative;
    overflow: hidden;

    .swiper-slide {
      height: 300px;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .swiper-pagination-bullet-active {
      background: #03BEBF;
    }
  }
  .events {
    display: flex;
    margin: 40px 0;

    .live {
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      background-size: cover;
      background-position: center;
      width: 900px;
      height: 506px;
      margin-right: 20px;
    }
    .list {
      flex-grow: 1;
      flex-shrink: 1;
      height: 506px;
      overflow: scroll;
      
      .node {
        padding-bottom: 20px;
        padding-left: 20px;
        line-height: 1.5;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 6px;
          width: 2px;
          height: 100%;
          background: #03BEBF;
          // border-radius: 1px;
        }

        &>div {
          position: relative;
        }
        .time {
          font-size: 12px;
          font-weight: 500;
          color: rgba($color: #000000, $alpha: 0.6);

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -22px;
            height: 18px;
            width: 18px;
            background: #fff;
          }
          &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: -19px;
            height: 12px;
            width: 12px;
            background: #fff;
            border: #03BEBF solid 2px;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
        .title {
          font-weight: 500;
          margin-bottom: 6px;

          a {
            color: #000;
          }
        }
        .tags {
          margin-bottom: 10px;
          span {
            display: inline-block;
            background: rgba($color: #03BEBF, $alpha: 0.1);
            color: #03BEBF;
            font-size: 12px;
            padding: 3px 6px;
            border-radius: 3px;
            margin-right: 4px;
          }
        }
        .desc {
          font-size: 12px;
          opacity: 0.7;
        }
      }
    }
  }
  .brands {
    margin-bottom: 40px;

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      &>a {
        display: block;
        border: #D1D3D4 solid 1px;
        padding: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .i {
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 225px;
        margin-bottom: 14px;
      }
      .t {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        height: 24px;
        line-height: 1.5;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .news {
    margin-bottom: 80px;
  }
}

@import './style.m.scss';
