<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="dashboardCaseList" class="dashboard">
  <div class="main container padding">
    <div class="menu">
      <div class="title">个人中心</div>
      <a href="#">我的信息</a>
      <a href="#">找回密码</a>
      <a href="#">公司管理</a>
      <a href="#" class="active">案例管理</a>
    </div>
    <!-- 页面内容 -->
    <div class="page">
      <div class="opt"><a href="#"><button>新增</button></a></div>
      <div class="th">
        <div class="td id">案例ID</div>
        <div class="td name">案例名字</div>
        <div class="td intro">案例介绍</div>
        <div class="td images">案例图片</div>
        <div class="td link">详情</div>
        <div class="td edit">编辑</div>
      </div>
      <div class="tr">
        <div class="td id">1234</div>
        <div class="td name">PDC</div>
        <div class="td intro">中新网5月2日电 国家卫生健康委新闻发言人、宣传司副司长米锋2日表示，据世卫组织最新通报，疫情已扩散到213个国家和地</div>
        <div class="td images">
          <!-- 注意，此处不能换行 -->
          <img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt="">
        </div>
        <div class="td link"><a href="#">跳转</a></div>
        <div class="td edit"><a href="#"><img src="https://assets.zjzsxhy.com/upload/5525875e-7fe4-4feb-8f7d-5783e5185cfd.svg" alt=""></a></div>
      </div>
    </div>
  </div>
</body>
</html>