<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="dashboardUser" class="dashboard">
  <div class="main container padding">
    <div class="menu">
      <div class="title">个人中心</div>
      <a href="#" class="active">我的信息</a>
      <a href="#">找回密码</a>
      <a href="#">公司管理</a>
      <a href="#">案例管理</a>
    </div>
    <!-- 页面内容 -->
    <div class="page">
      <div class="info">
        <div class="avatar"><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""></div>
        <div class="text">
          <div class="name">用户名 <a><img src="https://assets.zjzsxhy.com/upload/5525875e-7fe4-4feb-8f7d-5783e5185cfd.svg" alt=""></a></div>
          <div class="id">ID:920103123</div>
        </div>
      </div>
      <div class="row">
        <div class="label">邮箱</div>
        <div class="display">609348729@qq.com</div>
      </div>
      <div class="line"><span>申请参加线上展示</span></div>
      <!-- TODO: 状态：未申请状态、修改状态 -->
      <form action="">
        <div class="row">
          <div class="label">公司</div>
          <div class="input"><input type="text"></div>
        </div>
        <div class="row">
          <div class="label">联系方式</div>
          <div class="input"><input type="text"></div>
        </div>
        <div class="row">
          <div class="label">类别选择</div>
          <div class="input">
            <div>
              <input type="radio" name="type" id="type1">
              <label for="type1">设计公司</label>
            </div>
            <div>
              <input type="radio" name="type" id="type2">
              <label for="type2">走秀公司</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="label">介绍</div>
          <div class="input" data-count="0/50">
            <textarea rows="10"></textarea>
          </div>
        </div>
        <div class="row submit">
          <button>提交审核</button>
        </div>
      </form>
      <!-- TODO: 状态：审核中 -->
      <div class="pending">
        <div class="t1"><img src="https://assets.zjzsxhy.com/upload/5405c5d9-ac24-471b-8063-57311520d883.svg" alt=""></div>
        <div class="t2">已提交审核，我们会尽快审核</div>
      </div>
      <!-- TODO: 状态：展示状态 -->
      <div>
        <div class="row">
          <div class="label">公司</div>
          <div class="display">公司名</div>
        </div>
        <div class="row">
          <div class="label">联系方式</div>
          <div class="display">+86 13651691593</div>
        </div>
        <div class="row">
          <div class="label">介绍</div>
          <div class="display">中新网5月2日电 国家卫生健康委新闻发言人、宣传司副司长米锋2日表示，据世卫组织最新通报，疫情已扩散到213个国家和地…</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>