#livelist {
  .tabs {
    margin: 40px 0;
    text-align: center;

    .tab {
      font-size: 13px;
      color: #6E6E7A;
      font-weight: 500;
      margin: 0 10px;

      &.active {
        color: #000;
        background: #F3F3F4;
        padding: 11px 8px;
        border-radius: 7px;
      }
    }
  }

  .list {
    margin-bottom: 80px;

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 20px;
    }


    .live {
      display: block;
      overflow: hidden;

      .cover {
        height: 160px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 8px;
      }

      .title {
        white-space: nowrap;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
      }

      .info {
        color: #8A929F;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@import './style.m.scss';
