<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://s1.pstatp.com/cdn/expire-1-y/jquery/3.4.0/jquery.min.js" type="application/javascript"></script>
  <script src="https://s0.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.min.js" type="application/javascript"></script>
  <link href="https://s2.pstatp.com/cdn/expire-1-y/normalize/8.0.1/normalize.min.css" type="text/css" rel="stylesheet" />
  <link href="https://s2.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.css" type="text/css" rel="stylesheet" />
  <script src="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/js/swiper.min.js" type="application/javascript"></script>
  <link href="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/css/swiper.min.css" type="text/css" rel="stylesheet" />
</head>
<body id="livelist">
  <div class="tabs">
    <a class="tab active">广交会时尚直播区</a>
    <a class="tab">设计活动直播区</a>
    <a class="tab">设计公司直播区</a>
    <a class="tab">走秀企业直播区</a>
  </div>
  <div class="list container padding">
    <!-- TODO: 直播列表，图片，用户，一个时间（？） -->
    <div class="content">
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
      <a href="#" class="live">
        <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
        <div class="title">直播标题</div>
        <div class="info">
          <div class="name">用户</div>
          <div class="time">2018-12-10</div>
        </div>
      </a>
    </div>
  </div>
</body>
</html>