<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="dashboardCompany" class="dashboard">
  <div class="main container padding">
    <div class="menu">
      <div class="title">个人中心</div>
      <a href="#">我的信息</a>
      <a href="#">找回密码</a>
      <a href="#" class="active">公司管理</a>
      <a href="#">案例管理</a>
    </div>
    <!-- 页面内容 -->
    <div class="page">
      <form action="">
        <div class="row">
          <div class="label">公司</div>
          <div class="display">公司名</div>
        </div>
        <div class="row">
          <div class="label">联系方式</div>
          <div class="display">+86 13651691593</div>
        </div>
        <div class="row">
          <div class="label">介绍</div>
          <div class="input" data-count="0/50">
            <textarea rows="10">中新网5月2日电 国家卫生健康委新闻发言人、宣传司副司长米锋2日表示，据世卫组织最新通报，疫情已扩散到213个国家和地</textarea>
          </div>
        </div>
        <div class="row submit">
          <button>保存修改</button>
        </div>
        <div class="row homepage">
          <div class="label">公司主页</div>
          <div class="input"><a href="#" class="link">点击查看</a><a href="#"><button>前往编辑</button></a></div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>