<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
  <script>
    window.PAGE_DATA = {
      time: 1589770998513,
      blocks: [
        {
          type: 'Config',
          data: {
            pageBackground: '#100e0f',
            textColor: '#fcb141',
            maxContainerWidth: 1200,
          }
        },
        {
          type: 'Header',
          data: {
            text: 'asfsaf',
            level: 2,
          },
        },
        {
          type: 'paragraph',
          data: {
            text: '214124',
          },
        },
        {
          type: 'Header2',
          data: {
            header: 'asfas222555',
            sub: '222',
          },
        },
        {
          type: 'Album',
          data: {
            count: 3,
            images: [
              {
                url: 'https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg',
                link: 'www.baidu.com',
              },
              {
                url: 'https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg',
                link: 'www.126.com',
              },
              {
                url: '',
                link: '',
              },
            ],
          },
        },
        {
          type: 'Album2',
          data: {
            count: 2,
            images: [
              {
                url: 'https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg',
                link: 'www.baidu.com',
                title: '标题',
                desc: '描述',
              },
              {
                url: '',
                link: '',
                title: '',
                desc: '',
              },
            ],
          },
        },
        {
          type: "Checklist",
          data: {
            items: [
              {text: "124214", checked: false},
              {text: "124124", checked: true},
              {text: "1222", checked: false},
            ]
          },
        },
        {
          type: 'Quote',
          data: {
            text: 'asfasf<br>asfasf<br>asfasfas',
          },
        },
        {
          type: 'Image',
          data: {
            file: {
              url: 'http://106.52.152.239/uploads/image/image/13/92.png',
            },
            caption: '222',
            withBorder: false,
            stretched: false,
            withBackground: false,
          },
        },
        {
          type: 'Table',
          data: {
            content: [
              ['qqq', 'qq'],
              ['www', 'ea'],
            ],
          },
        },
      ],
      version: '2.18.0',
    }
  </script>
</head>
<body id="company">
  <div class="container padding">
    <div id="holder"></div>
  </div>
  <div id="hiddenHolder" style="display: none;"></div>
</body>
</html>