@media screen and (max-width: 600px) {
  #request {
    .form-page {
      .title img {
        height: 50px;
      }
      .t1 {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
