@media screen and (max-width: 600px) {
  #dashboardChangePassword .page {
    .row {
      margin-top: 50px;

      &::before {
        display: block;
        top: 0;
        left: 0;
        transform: translate(0, -30px);
      }

      &.submit {
        margin-top: 0;
      }
    }
  }
}
