@media screen and (max-width: 600px) {
  #live {
    min-width: 0;

    .block {
      display: block;

      .b1 {
        margin-right: 0;
      }
    }

    &>.content {
      background-size: 0%;
      padding: 0;
      margin-bottom: 20px;
    }
    .top-block {
      margin-top: 0;
      margin-bottom: 0;
    }
    .top-block .b2 {
      display: none;
    }
    .video-block {
      width: auto;

      .info {
        padding: 5px;
        .icon {
          height: 30px;
          width: 30px;
        }
        .text .t1 {
          white-space: nowrap;
          overflow: hidden;
          font-size: 12px;
        }
        .text .t2 {
          display: none;
        }
        .sub {
          padding: 3px 10px;

          .div,
          *>span:last-child {
            display: none;
          }
        }
      }
    }
    .video-block .video-container {
      height: 56.25vw;
    }
    .video-block .video-comment {
      padding: 5px;

      .switch {
        margin-right: 10px;
      }
    }
    .list-block .tabs {
      white-space: nowrap;
      padding: 15px 14px 8px;
      overflow: hidden;
      overflow-x: auto;
    }
    .list-block .content .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
    .list-block .content {
      padding: 15px 14px;
    }
    .comment-block .title {
      margin-left: 16px;
      margin-right: 16px;

      button {
        transform: translate(0, -8px);
      }
    }
    .comment-block .form .easy-form {
      padding-right: 0;
    }
    .bottom-block {
      margin-bottom: 20px;
    }
    .ad-block-1 {
      display: none;
    }
    .ad-block-2 {
      margin-bottom: 20px;
    }
  }
}
