<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://s1.pstatp.com/cdn/expire-1-y/jquery/3.4.0/jquery.min.js" type="application/javascript"></script>
  <script src="https://s0.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.min.js" type="application/javascript"></script>
  <link href="https://s2.pstatp.com/cdn/expire-1-y/normalize/8.0.1/normalize.min.css" type="text/css" rel="stylesheet" />
  <link href="https://s2.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.css" type="text/css" rel="stylesheet" />
  <script src="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/js/swiper.min.js" type="application/javascript"></script>
  <link href="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/css/swiper.min.css" type="text/css" rel="stylesheet" />
</head>
<body id="request">
  <div class="form-page">
    <div class="title"><img src="https://assets.zjzsxhy.com/upload/71768127-d84a-48c4-b3a3-074a555b50f5.svg" alt=""></div>
    <div class="content">
      <div class="row t1">请留下您的需求，以便于我们给您提供针对性的服务</div>
      <!-- TODO: 自己拼接表单 -->
      <div class="row">
        <input type="text" placeholder="单行输入">
      </div>
      <div class="row">
        <input type="text" style="width: 40%;" placeholder="两个输入1，40%宽">
        <input type="text" style="width: 60%;" placeholder="两个输入2，60%宽">
      </div>
      <div class="row">
        <input type="text" style="width: 40%;" placeholder="两个输入 + 按钮">
        <button style="width: 200px;">按钮</button>
      </div>
      <div class="row">
        <textarea name="" id="" cols="30" rows="5" placeholder="文本域"></textarea>
      </div>
      <div class="row submit">
        <button>提 交</button>
      </div>
    </div>
    <div class="desc">我们的专业服务团队将会尽快通过电话或邮件联系您</div>
  </div>
</body>
</html>