<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="event">
  <div class="header-banner">
    <!-- TODO: 大Banner，图片 -->
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="events container padding">
    <div class="live" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);">
      <div class="play-btn">
        <div>
          <div class="i"><img src="https://assets.zjzsxhy.com/upload/69bfc70d-e0d0-4b75-bc9a-03c5081e0334.svg" alt=""></div>
          <div class="t">点击进入直播间</div>
        </div>
      </div>
    </div>
    <div class="list">
      <!-- TODO: 活动数据，时间，名称 -->
      <div class="node">
        <div class="time">2020年6月20日10:00-10:30</div>
        <div class="title"><a href="#">2020广交会时尚周（春季）开幕式</a></div>
        <div class="tags"><span>艺术与时尚</span><span>男女装</span></div>
      </div>
      <div class="node">
        <div class="time">2020年6月20日11:30-12:00</div>
        <div class="title"><a href="#">纤变万花</a></div>
        <div class="tags"><span>休闲女装</span><span>童装</span></div>
        <div class="desc">走秀企业：广州纺织工贸企业集团有限公司</div>
      </div>
      <div class="node">
        <div class="time">2020年6月21日15:00-16:00</div>
        <div class="title"><a href="#">2020广交会时尚周（春季）“品质浙货”浙江出口名牌企业精品走秀</a></div>
        <div class="tags"><span>运动服</span><span>女装</span><span>女包</span><span>伞</span></div>
        <div class="desc">走秀企业：湖州新世纪国际贸易有限公司、汇信进出口集团股份有限公司、义乌奕君箱包有限公司、浙江迪亚服饰有限公司、浙江省土产畜产进出口集团有限公司、浙江腾鑫伞业有限公司</div>
      </div>
      <div class="node">
        <div class="time">2020年6月22日11:30-12:00</div>
        <div class="title"><a href="#">混搭，休闲，舒适</a></div>
        <div class="tags"><span>休闲女装</span></div>
        <div class="desc">走秀企业：小渔仔</div>
      </div>
    </div>
  </div>
  <!-- TODO: 嘉宾数据，头像，姓名，简介 -->
  <div class="guests container padding">
    <div class="page-subtitle"><span>嘉宾介绍</span></div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/711ed23c-fb3c-46fd-a9f5-1f8a64e598e3.jpg);"></div>
      <div class="info">
        <div class="name">李琦</div>
        <div class="title">杭州瑞德设计股份有限公司创始人&董事长，中国工业设计协会副会长，杭州工业设计协会会长，国内首批高级工业设计师，中国设计业十大杰出青年</div>
        <div class="desc">1995年毕业于浙江大学工业设计专业，其毕业设计作品“方太吸油烟机”，成为中国工业设计毕业作品成功产业化的首个案例。1999年创立瑞德设计至今，带领团队完成2000多个设计项目，创造3000多亿的商业价值，成功将瑞德设计打造成中国顶级商业创新型综合设计公司。带领公司成功在新三板成功挂牌，被《凤凰周刊》誉为“中国工业设计拓荒者”，并获“国家级工业设计中心”认定。2018年两会期间，获央视经济半小时 “设计出来的奇迹” 专题深度报道。2009-2018年，连续举办十届瑞德优秀毕业设计邀请赛，为中国工业设计积蓄新一代年轻力量；2018年9月，发起“啊！设计—中国设计IP节“。</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/59f663ae-30fa-4696-9622-3d2ad7d2bd53.jpg);"></div>
      <div class="info">
        <div class="name">晋常宝</div>
        <div class="title">杭州瑞德设计股份有限公司联合创始人，德国iF设计奖国际评委，浙江省首批高级工业设计师，2013年中国十佳设计师，中国工业设计协会理事，浙江省工业设计协会副会长，中国流行色协会理事，杭州文创协会副会长</div>
        <div class="desc">专业从事工业设计20年，服务客户包括但不限于方太、中石化、博世、美国亚设家具、九阳、AO史密斯等国际国内著名企业。致力于消费心理研究，拥有多项设计专利，作品多次获得红点、IF、美国IDEA、“金智奖”等国内外大奖，设计理念新颖，创新能力强，主导设计的方太A型机、Q型机、欧式机、近吸式油烟机，水槽洗碗机对中国厨电企业来说有着划时代的意义。</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/4d755033-7da2-427f-8204-d572cc1e97e8.jpg);"></div>
      <div class="info">
        <div class="name">吴展</div>
        <div class="title">瑞德空间设计总经理，杭州市十大工业设计精英，多项德国红点奖和IF奖得主</div>
        <div class="desc">2000年毕业于浙江大学计算机系工业设计专业，横跨多领域、多行业设计咨询经验20年，全球五百强品牌“中国石化集团”零售空间体验设计资深培训导师，多项零售渠道行业建设标准制定者。</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/df79cf57-a3ae-4fc8-b358-7223cb970a23.jpg);"></div>
      <div class="info">
        <div class="name">徐微</div>
        <div class="title">洛客设计平台联合创始人，LKK洛可可创新设计集团副总裁|管理合伙人</div>
        <div class="desc">毕业于中欧国际工商学院EMBA，主管洛可可设计集团市场营销方向，在产品创新设计、市场营销、企业经管等领域积累了多年的实战经验。近千例创新设计项目经验，形成其自身对市场的敏锐洞察力，始终秉持“创造好产品”的理念为客户提供精准的市场策略建议。</div>
        <div class="desc">在洛可可高速发展的进程中，她以科学化管理和创新经营思路，助推洛可可从一家传统的设计服务机构发展成为具有行业引领性的国家级创新设计集团。2016年，与董事长贾伟先生二次创业，共同打造基于互联网模式的“洛客共享设计平台”，于2018年荣获“国家级共享经济示范平台”。为企业创新发展和战略转型做出了巨大贡献。</div>
        <div class="desc">成功服务过松下、联想、DELL、三星、西门子、美的等多个海内外500强品牌客户。</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/a1d1027a-aea6-4e75-8b51-f1d85f6a72a8.jpg);"></div>
      <div class="info">
        <div class="name">张建辉</div>
        <div class="title">洛客佛山城市设计中心总经理，LKK洛可可创新设计集团副总裁|管理合伙人，营销战略专家，佛山南海家居协会副会长，佛山设计产业促进会副会长，佛山市陕西省商会副会长</div>
        <div class="desc">他从无到有创建了创新研发和供应链管理部，勾勒出洛可可完整设计服务链条的崭新未来。他同时兼任“贾伟设计顾问机构“的高级技术顾问，并拥有多项发明专利，作为营销战略专家，他为洛可可“上上”品牌的产业化实施做出了有力推动、共同开创了洛可可第一家分公司和构建新的组织架构、凭借多年项目控管及技术攻关经验，成功带领团队完成多个大型项目并实现创新。</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/791b4c99-c000-40a5-a106-a6d5116653d4.jpg);"></div>
      <div class="info">
        <div class="name">邓泽茂</div>
        <div class="title">洛客研发供应链平台总经理，产品研发与供应链管理专家，LKK洛可可创新设计集团副总裁|管理合伙人</div>
        <div class="desc">洛可可·洛客研发与供应链创始人，近30年产品研发，模具开发，工厂管理和供应链管理经验，组建了集团研发与供应链团队，优化了研发与供应链服务流程，有极强的资源整合能力。为客户提供从产品开发到生产制造的一站式解决方案，为产品设计到落地保驾护航。有极强的领导能力，熟悉企业全面运作管理，具有先进的管理理念和战略远见。有广泛的客户资源和社会资源，成功服务四川航天、中国航天、故宫博物馆、科大讯飞、美团、北斗、同仁堂、巨鲨医疗、雀巢、腾讯、CCTV等优质客户和大量的初创企业。</div>
        <div class="desc">参与重大项目：</div>
        <ol class="desc">
          <li>55度杯设计+研发供应链生产项目</li>
          <li>科大讯飞晓译翻译器设计+研发供应链生产项目</li>
          <li>腾讯路宝盒子设计+研发供应链项目</li>
          <li>故宫博物馆超级IP打造</li>
          <li>中国航天、四川航天系列项目设计+研发供应链</li>
        </ol>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/b962145a-5d98-4229-bd68-a2344d2970a7.png);"></div>
      <div class="info">
        <div class="name">李毅超</div>
        <div class="title">LKK洛可可创新设计集团总裁</div>
        <div class="desc">荣获国际顶尖设计大奖20余项，开创洛可可第一家外地分支机构——深圳洛可可公司，并迅速带领其成为华南地区极具竞争实力的设计机构之一，开启洛可可全国化、集团化发展模式。</div>
        <div class="desc">2010年在全国率先构建《设计+研发+供应链》的新设计方法体系，将工业设计专业结合工程设计，软硬件研发，生产管理整合成以产品创新为目标的新设计方式，将工业设计的成果从“方案”延伸到“产品”。取得了众多企业的响应及赞许。将洛可可从过去单一的设计方案服务型公司，全面升级为产品创新的全链路创新服务公司，帮助包括中国航天、中国商飞、德国大众、ABB等企业实现产品在市场上的成功，逐渐改变了社会企业对工业设计的传统认知。坚持设计创新的终极目的是“用户更美好的生存方式”，坚持10年以严谨专业的用户研究及社会洞察为核心，将工业设计、品牌设计、交互设计、服务设计构建成围绕“用户价值”展开的系统专业能力，同时不断结合新技术与跨学科知识及技术拓展设计创新服务的能力。使洛可可在人工智能、智能制造、智慧医疗、智能出行、智能家居、新消费、新零售等多个领域成功打造行业标杆产品及案例，总结出多项行业产品创新方法论及技术专利并开放式的赋能给更多企业。</div>
        <div class="desc">坚持相信设计创新并不是设计师的专利，而是应该激发每个“人”的创造力，降低创新产品的参与门槛实现社会化创新能力的提高。目前正全力构建“PIM数据中台”体系，结合洛可可乃至更多行业领先者推动以数字驱动的社会化产品创新平台构建。正在用数字科技及人工智能技术将设计活动中复杂的重复工作如：资料搜集，分析整理，建模渲染，技术数据协同等工作算法化、智能化、开放化提高设计的效率和设计与其他专业协同的能力。2019年LKK洛可可创新设计集团已经正式发布洛客云设计中心“洛”普惠设计、云智能设计平台。初步实现了智能化分析，智能logo设计、智能包装及渲染设计。未来人们参与设计的难度将越来越低，设计的工具及途径也会越来越简单，每个人创造力能够展现的时代会是更美好的时代。</div>
      </div>
    </div>
  </div>
  <!-- TODO: 活动数据 -->
  <div class="detail container padding">
    <div class="content">
      <div class="page-subtitle"><span>第127届广交会“疫情之下 设计不停步”PDC设计智汇论坛活动</span></div>
      <p>PDC联合各大商协会举办设计活动，分为国际市场、行业峰会、品牌营销、潮流趋势、设计创新及技术研发等主题版块，精准对接相关行业，探讨和分享创新理念及成功案例，分析和预测流行趋势。提升产品附加值，协助企业转型升级。</p>
    </div>
    <!-- TODO: 广告，如果有的话 -->
    <div class="ad">
      <img src="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg" alt="">
    </div>
  </div>
</body>
</html>