<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="event">
  <div class="header-banner">
    <!-- TODO: 大Banner，图片 -->
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://assets.zjzsxhy.com/upload/78ffaae1-2312-4ae7-b103-33c0852af730.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="events container padding">
    <div class="live" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);">
      <div class="play-btn">
        <div>
          <div class="i"><img src="https://assets.zjzsxhy.com/upload/69bfc70d-e0d0-4b75-bc9a-03c5081e0334.svg" alt=""></div>
          <div class="t">点击进入直播间</div>
        </div>
      </div>
    </div>
    <div class="list">
      <!-- TODO: 活动数据，时间，名称，记住这里span不能换行 -->
      <div>
        <span class="time">2019-01-01 20:20</span><span class="name">活动名称</span>
      </div>
    </div>
  </div>
  <!-- TODO: 嘉宾数据，头像，姓名，简介 -->
  <div class="guests container padding">
    <div class="page-subtitle"><span>嘉宾介绍</span></div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);"></div>
      <div class="info">
        <div class="name">张三</div>
        <div class="desc">嘉宾介绍（中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作）</div>
      </div>
    </div>
    <div class="guest">
      <div class="avatar" style="background-image: url(https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg);"></div>
      <div class="info">
        <div class="name">张三</div>
        <div class="desc">嘉宾介绍（中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作）</div>
      </div>
    </div>
  </div>
  <!-- TODO: 活动数据 -->
  <div class="detail container padding">
    <div class="content">
      <div class="page-subtitle"><span>第127届广交会PDC活动介绍</span></div>
      <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
      <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
      <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
      <p>中国青年报客户端讯（中青报·中青网记者 林洁）这两天，广东有两名来自暨南大学附属第一医院的医生，作为国家陆路口岸新冠肺炎疫情输入性防控工作指导组专家，分别奔赴辽宁和新疆开展工作。</p>
      <p class="img-p"><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""></p>
    </div>
    <!-- TODO: 广告，如果有的话 -->
    <div class="ad">
      <img src="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg" alt="">
    </div>
  </div>
</body>
</html>