#event {
  .header-banner {
    height: 300px;
    position: relative;
    overflow: hidden;

    .swiper-slide {
      height: 300px;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .swiper-pagination-bullet-active {
      background: #03BEBF;
    }
  }
  
  .events {
    display: flex;
    margin: 40px 0;
    margin-bottom: 80px;

    .live {
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      background-size: cover;
      background-position: center;
      width: 900px;
      height: 506px;
      margin-right: 20px;
    }
    .list {
      flex-grow: 1;
      flex-shrink: 1;
      height: 506px;
      overflow: scroll;
      
      .node {
        padding-bottom: 20px;
        padding-left: 20px;
        line-height: 1.5;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 6px;
          width: 2px;
          height: 100%;
          background: #03BEBF;
          // border-radius: 1px;
        }

        &>div {
          position: relative;
        }
        .time {
          font-size: 12px;
          font-weight: 500;
          color: rgba($color: #000000, $alpha: 0.6);

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -22px;
            height: 18px;
            width: 18px;
            background: #fff;
          }
          &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: -19px;
            height: 12px;
            width: 12px;
            background: #fff;
            border: #03BEBF solid 2px;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
        .title {
          font-weight: 500;
          margin-bottom: 6px;

          a {
            color: #000;
          }
        }
        .tags {
          margin-bottom: 10px;
          span {
            display: inline-block;
            background: rgba($color: #03BEBF, $alpha: 0.1);
            color: #03BEBF;
            font-size: 12px;
            padding: 3px 6px;
            border-radius: 3px;
            margin-right: 4px;
          }
        }
        .desc {
          font-size: 12px;
          opacity: 0.7;
        }
      }
    }
  }

  .guests {
    margin-bottom: 40px;

    .guest {
      display: flex;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .avatar {
        flex-grow: 0;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
        height: 180px;
        width: 150px;
      }

      .info {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 14px 0 14px 24px;

        .name {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 14px;
        }
        .title {
          font-size: 12px;
          opacity: 0.6;
          margin-bottom: 14px;
          line-height: 1.5;
        }
        .desc {
          line-height: 1.8;
        }
      }
    }
  }

  .detail {
    margin-bottom: 80px;
    display: flex;

    .content {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .ad {
      flex-grow: 0;
      flex-shrink: 0;
      width: 280px;
      margin-left: 20px;

      img {
        width: 100%;
      }
    }

    p {
      line-height: 1.8;
    }
    .img-p {
      text-align: center;

      img {
        max-width: 100%;
        max-height: 400px;
      }
    }
  }
}

@import './style.m.scss';
