<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="dashboardCase" class="dashboard">
  <div class="main container padding">
    <div class="menu">
      <div class="title">个人中心</div>
      <a href="#">我的信息</a>
      <a href="#">找回密码</a>
      <a href="#">公司管理</a>
      <a href="#" class="active">案例管理</a>
    </div>
    <!-- 页面内容 -->
    <div class="page">
      <form action="">
        <div class="row">
          <div class="label">案例ID</div>
          <div class="display">12345</div>
        </div>
        <div class="row">
          <div class="label">案例名称</div>
          <div class="input"><input type="text"></div>
        </div>
        <div class="row">
          <div class="label">案例介绍</div>
          <div class="input" data-count="0/50">
            <textarea rows="10">中新网5月2日电 国家卫生健康委新闻发言人、宣传司副司长米锋2日表示，据世卫组织最新通报，疫情已扩散到213个国家和地</textarea>
          </div>
        </div>
        <div class="row">
          <div class="label">案例图片</div>
          <div class="input">
            <div class="images-container">
              <div class="img" data-id="1111用于删除ajax" data-url="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
              <div class="img add">
                <img src="https://assets.zjzsxhy.com/upload/84ace649-929e-473b-8a79-5c1a4a66f886.svg" alt="">
                <input type="file" name="" id="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="label">案例模型示意图</div>
          <div class="input">
            <div class="images-container">
              <div class="img" data-id="1111用于删除ajax" data-url="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
              <div class="img add">
                <img src="https://assets.zjzsxhy.com/upload/84ace649-929e-473b-8a79-5c1a4a66f886.svg" alt="">
                <input type="file" name="" id="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="label">案例模型</div>
          <div class="input">
            <div class="images-container">
              <div class="img" data-id="1111用于删除ajax" data-url="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
              <div class="img add">
                <img src="https://assets.zjzsxhy.com/upload/84ace649-929e-473b-8a79-5c1a4a66f886.svg" alt="">
                <input type="file" name="" id="">
              </div>
            </div>
          </div>
        </div>
        <div class="row submit">
          <button>新增案例/保存修改</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>