<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="case">
  <div class="main container padding">
    <div class="b1">
      <div class="carousel">
        <div class="detail"></div>
        <div class="owl-container owl-carousel owl-theme">
          <div class="case" data-type="image" data-name="案例名称1" data-cover="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
          <div class="case" data-type="image" data-name="案例名称2" data-cover="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg"></div>
          <div class="case" data-type="image" data-name="案例名称1" data-cover="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
          <div class="case" data-type="image" data-name="案例名称2" data-cover="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg"></div>
          <div class="case" data-type="image" data-name="案例名称1" data-cover="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg"></div>
          <div class="case" data-type="image" data-name="案例名称2" data-cover="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg"></div>
        </div>
      </div>
      <div class="article">
        <p class="img-p"><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""></p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
      </div>
    </div>
    <div class="b2">
      <div class="page-title">公司简介</div>
      <div class="company">
        <p class="img-p"><img src="https://assets.zjzsxhy.com/upload/e6432026-fb05-4720-859f-440b9624ea2b.jpg" alt=""></p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
        <p>2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。</p>
      </div>
      <div class="page-title">更多案例</div>
      <div class="more">
        <div><a href="#">其他案例</a></div>
        <div><a href="#">其他案例</a></div>
        <div><a href="#">其他案例</a></div>
      </div>
    </div>
  </div>
</body>
</html>