<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
  <script src="https://s3.pstatp.com/cdn/expire-1-M/three.js/104/three.min.js" type="application/javascript"></script>
  <!-- https://github.com/mrdoob/three.js/blob/r104/examples/js/loaders/STLLoader.js -->
  <script src="https://assets.zjzsxhy.com/upload/2c720e26-015c-455b-bca3-e38b9d5c8519.js" type="application/javascript"></script>
  <!-- https://github.com/mrdoob/three.js/blob/r104/examples/js/controls/OrbitControls.js -->
  <script src="https://assets.zjzsxhy.com/upload/e696449a-2ed7-40b0-98b9-32115ebbcda0.js" type="application/javascript"></script>
</head>
<body>
  <div id="model" data-src="http://127.0.0.1:8080/keystone.stl" data-zdistance="2" data-rotate="x" style="height: 250px; width: 500px;"></div>
</body>
</html>