<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="sigin">
  <!-- TODO: 警告 -->
  <div class="alert">抱歉给您带来不便，请稍后尝试</div>
  <div class="b1">
    <div class="t1">GLOBAL DESIGNERS ALLIANCES</div>
    <div class="t2">全球设计师联盟</div>
    <img src="https://assets.zjzsxhy.com/upload/7d99aad7-e845-4e6c-a864-c419acf8b327.svg" alt="" class="logo">
  </div>
  <div class="b2">
    <div class="opt"><span>没有账号？</span><a href="#">立即注册</a></div>
    <form>
      <div class="t1">登录到PDC</div>
      <div class="label">邮箱</div>
      <div class="input">
        <input type="text">
      </div>
      <div class="label">密码<a href="">忘记密码</a></div>
      <div class="input">
        <input type="password">
      </div>
      <div class="submit">
        <a href=""><button>登录</button></a>
      </div>
    </div>
  </form>
</body>
</html>