<!DOCTYPE html>
<html lang="en">
<head>
  <%= LAYOUT.META %>
</head>
<body id="news">
  <div class="b1 container padding">
    <!-- TODO: 图文链接，第一个最大 -->
    <a class="link" href="#">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
      <div class="title">标题</div>
    </a>
    <a class="link" href="#">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
      <div class="title">标题</div>
    </a>
    <a class="link" href="#">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
      <div class="title">标题</div>
    </a>
    <a class="link" href="#">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
      <div class="title">标题</div>
    </a>
    <a class="link" href="#">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
      <div class="title">标题</div>
    </a>
  </div>
  <!-- TODO: 分类信息 -->
  <div class="b2 container padding">
    <div class="page-subtitle"><span>分类1</span></div>
    <div class="content">
      <div class="articles">
        <a href="#" class="article">
          <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
          <div class="title">标题</div>
          <div class="desc">简介简介简介简介简介简介简介</div>
        </a>
        <a href="#" class="article">
          <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
          <div class="title">标题</div>
          <div class="desc">简介简介简介简介简介简介简介</div>
        </a>
        <a href="#" class="article">
          <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
          <div class="title">标题</div>
          <div class="desc">简介简介简介简介简介简介简介</div>
        </a>
        <a href="#" class="article">
          <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/05e0e5d0-08df-4553-9a8d-efd9158ac8cc.jpg);"></div>
          <div class="title">标题</div>
          <div class="desc">简介简介简介简介简介简介简介</div>
        </a>
      </div>
      <!-- TODO: 广告，如果有的话 -->
      <div class="ad">
        <img src="https://assets.zjzsxhy.com/upload/4d00b292-83ce-4ad8-87fa-3020c51f496e.jpg" alt="">
      </div>
    </div>
  </div>
</body>
</html>